/* line 1, ../sass/home.scss */
.mba-overload {
  position: relative;
  display: none;
  background-color: rgba(96, 146, 166, 0.85);
  transition-property: opacity;
  opacity: 0;
}
/* line 8, ../sass/home.scss */
.mba-overload div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* line 15, ../sass/home.scss */
.mba-overload div a {
  padding: 30px;
  text-align: center;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

/* line 27, ../sass/home.scss */
.mba-overload.active {
  opacity: 1;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 38, ../sass/home.scss */
section#block-mba-block-entete .slideshow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
}
/* line 45, ../sass/home.scss */
section#block-mba-block-entete .carousel,
section#block-mba-block-entete .carousel.item {
  width: 100%;
  height: 600px;
}
/* line 50, ../sass/home.scss */
section#block-mba-block-entete .carousel img.img-responsive,
section#block-mba-block-entete .carousel.item img.img-responsive {
  height: 600px;
}
/* line 56, ../sass/home.scss */
section#block-mba-block-entete .carousel-inner .item {
  transition-property: opacity;
}
/* line 60, ../sass/home.scss */
section#block-mba-block-entete .carousel-inner .item,
section#block-mba-block-entete .carousel-inner .active.left,
section#block-mba-block-entete .carousel-inner .active.right {
  opacity: 0;
}
/* line 66, ../sass/home.scss */
section#block-mba-block-entete .carousel-inner .active,
section#block-mba-block-entete .carousel-inner .next.left,
section#block-mba-block-entete .carousel-inner .prev.right {
  opacity: 1;
}
/* line 72, ../sass/home.scss */
section#block-mba-block-entete .carousel-inner .next,
section#block-mba-block-entete .carousel-inner .prev,
section#block-mba-block-entete .carousel-inner .active.left,
section#block-mba-block-entete .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
/* line 81, ../sass/home.scss */
section#block-mba-block-entete .slideshow-hover {
  margin: 100px;
  height: 400px;
}
/* line 85, ../sass/home.scss */
section#block-mba-block-entete .slideshow-hover .field--name-field-logo,
section#block-mba-block-entete .slideshow-hover .field--name-field-logo .field--item {
  margin: 0 auto;
  text-align: center;
}
/* line 90, ../sass/home.scss */
section#block-mba-block-entete .slideshow-hover .field--name-field-logo img,
section#block-mba-block-entete .slideshow-hover .field--name-field-logo .field--item img {
  margin: 0 auto;
}
/* line 95, ../sass/home.scss */
section#block-mba-block-entete .slideshow-hover .field--name-field-titre {
  color: #2c3e50;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 2px;
}
/* line 101, ../sass/home.scss */
section#block-mba-block-entete .slideshow-hover .field--name-field-titre span {
  color: white;
}
/* line 106, ../sass/home.scss */
section#block-mba-block-entete .slideshow-hover .field--name-field-info .paragraph--type--titre-texte {
  margin: 15px;
  margin-top: 60px;
  padding: 10px;
  background-color: rgba(96, 146, 166, 0.85);
  color: white;
  height: 160px;
}
/* line 114, ../sass/home.scss */
section#block-mba-block-entete .slideshow-hover .field--name-field-info .paragraph--type--titre-texte .field--name-field-titre {
  height: 100px;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: #2c3e50;
}
/* line 123, ../sass/home.scss */
section#block-mba-block-entete .slideshow-hover .field--name-field-info .paragraph--type--titre-texte .field--name-field-titre::after {
  position: absolute;
  top: 150px;
  left: 40px;
  content: "";
  width: 60px;
  height: 3px;
  background-color: rgba(44, 62, 80, 0.2);
}
/* line 133, ../sass/home.scss */
section#block-mba-block-entete .slideshow-hover .field--name-field-info .paragraph--type--titre-texte .field--name-field-text {
  height: 57px;
}
/* line 139, ../sass/home.scss */
section#block-mba-block-entete .field--name-field-description {
  padding: 60px;
  width: 100%;
  background-color: #2c3e50;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

/* line 150, ../sass/home.scss */
h2.block-title,
section .view-header p {
  color: #2c3e50;
  text-transform: uppercase;
  text-align: center;
}

/* line 157, ../sass/home.scss */
h2.block-title {
  margin-top: 50px;
  font-size: 35px;
}

/* line 162, ../sass/home.scss */
section .view-header p {
  font-size: 20px;
  letter-spacing: 1px;
}

/* line 167, ../sass/home.scss */
section#block-mba-block-activites {
  margin: 50px;
}
/* line 170, ../sass/home.scss */
section#block-mba-block-activites .view-content .col > div {
  margin: 10px;
  padding: 20px;
  height: 230px;
  background-color: white;
  position: relative;
}
/* line 177, ../sass/home.scss */
section#block-mba-block-activites .view-content .col > div .mba-overload {
  padding: -20px;
}
/* line 181, ../sass/home.scss */
section#block-mba-block-activites .view-content .col > div h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: #2c3e50;
  height: 35px;
}
/* line 190, ../sass/home.scss */
section#block-mba-block-activites .view-content .col > div .mba-border {
  margin-bottom: 15px;
  width: 60px;
  height: 3px;
  background-color: rgba(44, 62, 80, 0.2);
}

/* line 199, ../sass/home.scss */
section#block-mba-block-intervenants {
  margin-top: 50px;
  background-image: url(../images/team.png), url(../images/team-top.png);
  background-repeat: no-repeat, repeat;
  background-position: bottom center, top center;
  text-align: center;
}
/* line 208, ../sass/home.scss */
section#block-mba-block-intervenants h2,
section#block-mba-block-intervenants div.view-header p {
  color: #ddd;
}
/* line 213, ../sass/home.scss */
section#block-mba-block-intervenants .view-content .col > article {
  margin: 10px;
  padding: 20px;
  color: white;
}
/* line 218, ../sass/home.scss */
section#block-mba-block-intervenants .view-content .col > article .field--name-field-prenom {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
/* line 224, ../sass/home.scss */
section#block-mba-block-intervenants .view-content .col > article .field--name-field-fonction {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 230, ../sass/home.scss */
section#block-mba-block-intervenants .view-content .col > article img {
  margin: 0 auto;
}

/* line 236, ../sass/home.scss */
section#block-mba-block-cours {
  background-color: rgba(229, 229, 229, 0.97);
}

/* line 240, ../sass/home.scss */
section#block-mba-block-ateliers {
  background-color: rgba(240, 240, 240, 0.97);
}

/* line 244, ../sass/home.scss */
section#block-mba-block-cours,
section#block-mba-block-ateliers {
  padding: 50px;
  text-align: center;
  /*
    .view-content .col > div > span > article {
      margin: 10px;
      padding: 20px;
      background-color: white;
  */
}
/* line 255, ../sass/home.scss */
section#block-mba-block-cours article.cours,
section#block-mba-block-cours article.atelier,
section#block-mba-block-ateliers article.cours,
section#block-mba-block-ateliers article.atelier {
  margin: 10px;
  padding: 20px;
  background-color: white;
}
/* line 260, ../sass/home.scss */
section#block-mba-block-cours article.cours .field--name-field-activite,
section#block-mba-block-cours article.atelier .field--name-field-activite,
section#block-mba-block-ateliers article.cours .field--name-field-activite,
section#block-mba-block-ateliers article.atelier .field--name-field-activite {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
/* line 266, ../sass/home.scss */
section#block-mba-block-cours article.cours .field--name-field-public,
section#block-mba-block-cours article.atelier .field--name-field-public,
section#block-mba-block-ateliers article.cours .field--name-field-public,
section#block-mba-block-ateliers article.atelier .field--name-field-public {
  text-transform: uppercase;
  color: #2c3e50;
  font-size: 10px;
}
/* line 272, ../sass/home.scss */
section#block-mba-block-cours article.cours .field--name-field-prenom,
section#block-mba-block-cours article.atelier .field--name-field-prenom,
section#block-mba-block-ateliers article.cours .field--name-field-prenom,
section#block-mba-block-ateliers article.atelier .field--name-field-prenom {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
/* line 277, ../sass/home.scss */
section#block-mba-block-cours article.cours .field--name-field-prenom a,
section#block-mba-block-cours article.cours .field--name-field-prenom a:hover,
section#block-mba-block-cours article.atelier .field--name-field-prenom a,
section#block-mba-block-cours article.atelier .field--name-field-prenom a:hover,
section#block-mba-block-ateliers article.cours .field--name-field-prenom a,
section#block-mba-block-ateliers article.cours .field--name-field-prenom a:hover,
section#block-mba-block-ateliers article.atelier .field--name-field-prenom a,
section#block-mba-block-ateliers article.atelier .field--name-field-prenom a:hover {
  color: #e64090;
}
/* line 284, ../sass/home.scss */
section#block-mba-block-cours .field--name-field-jour,
section#block-mba-block-ateliers .field--name-field-jour {
  font-weight: bold;
}
/* line 288, ../sass/home.scss */
section#block-mba-block-cours .field--item--resa,
section#block-mba-block-ateliers .field--item--resa {
  background-color: #e64090;
  color: #fff;
}
/* line 293, ../sass/home.scss */
section#block-mba-block-cours .field--name-field-dates,
section#block-mba-block-ateliers .field--name-field-dates {
  color: #2c3e50;
}

/* line 303, ../sass/home.scss */
section#block-mba-block-cours .cours.noresa .field--name-field-horaire-hebdo .field--name-field-horaire.field--item--resa,
section#block-mba-block-ateliers .field--name-field-horaire-hebdo .field--name-field-horaire.field--item--resa,
article.cours.noresa .field--name-field-horaire-hebdo .field--name-field-horaire.field--item--resa,
article.atelier .field--name-field-horaire-hebdo .field--name-field-horaire.field--item--resa {
  display: none;
}

/* line 312, ../sass/home.scss */
section#block-mba-block-cours .cours.resa .field--name-field-horaire-hebdo .field--name-field-horaire.field--item,
article.cours.resa .field--name-field-horaire-hebdo .field--name-field-horaire.field--item {
  display: none;
}

/* line 320, ../sass/home.scss */
#drupal-modal article.cours .mba-cours-infos,
#drupal-modal article.atelier .mba-cours-infos {
  padding: 20px;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.97);
}
/* line 325, ../sass/home.scss */
#drupal-modal article.cours .mba-cours-infos .field--name-field-jour,
#drupal-modal article.atelier .mba-cours-infos .field--name-field-jour {
  font-weight: bold;
  font-size: 20px;
}
/* line 330, ../sass/home.scss */
#drupal-modal article.cours .mba-cours-infos .field--name-horaire-hebdo,
#drupal-modal article.atelier .mba-cours-infos .field--name-horaire-hebdo {
  font-weight: bold;
  font-size: 20px;
}
/* line 335, ../sass/home.scss */
#drupal-modal article.cours .mba-cours-infos .field--item--resa,
#drupal-modal article.atelier .mba-cours-infos .field--item--resa {
  background-color: #e64090;
  color: #fff;
}
/* line 340, ../sass/home.scss */
#drupal-modal article.cours .mba-cours-infos .field--name-field-dates,
#drupal-modal article.atelier .mba-cours-infos .field--name-field-dates {
  color: #2c3e50;
}
/* line 344, ../sass/home.scss */
#drupal-modal article.cours .mba-cours-infos .field--name-field-tarif,
#drupal-modal article.atelier .mba-cours-infos .field--name-field-tarif {
  color: #e64090;
  font-size: 20px;
}
/* line 350, ../sass/home.scss */
#drupal-modal article.cours .field--name-field-intervenant,
#drupal-modal article.cours .field--name-field-activite,
#drupal-modal article.atelier .field--name-field-intervenant,
#drupal-modal article.atelier .field--name-field-activite {
  margin-top: 20px;
}

/* line 356, ../sass/home.scss */
section#block-mba-block-location {
  padding-top: 50px;
  background-color: rgba(229, 229, 229, 0.97);
}
/* line 360, ../sass/home.scss */
section#block-mba-block-location > div {
  padding: 50px;
}
/* line 364, ../sass/home.scss */
section#block-mba-block-location .field--name-field-titre .field--item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: #2c3e50;
  height: 60px;
}

@media (max-width: 992px) {
  /* line 375, ../sass/home.scss */
  section#block-mba-block-entete .slideshow {
    height: 1100px;
  }
  /* line 379, ../sass/home.scss */
  section#block-mba-block-entete .slideshow-hover {
    height: 900px;
  }
  /* line 383, ../sass/home.scss */
  section#block-mba-block-entete .carousel,
  section#block-mba-block-entete .carousel.item {
    height: 1100px;
  }
  /* line 387, ../sass/home.scss */
  section#block-mba-block-entete .carousel img.img-responsive,
  section#block-mba-block-entete .carousel.item img.img-responsive {
    height: 1100px;
  }
}
