/* -------------------------
FONTS
---------------------------- */
/* arimo-regular - latin */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/arimo/arimo-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Arimo Regular"), local("Arimo-Regular"), url("../fonts/arimo/arimo-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/arimo/arimo-v11-latin-regular.woff2") format("woff2"), url("../fonts/arimo/arimo-v11-latin-regular.woff") format("woff"), url("../fonts/arimo/arimo-v11-latin-regular.ttf") format("truetype"), url("../fonts/arimo/arimo-v11-latin-regular.svg#Arimo") format("svg");
}
/* arimo-700 - latin */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/arimo/arimo-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Arimo Bold"), local("Arimo-Bold"), url("../fonts/arimo/arimo-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/arimo/arimo-v11-latin-700.woff2") format("woff2"), url("../fonts/arimo/arimo-v11-latin-700.woff") format("woff"), url("../fonts/arimo/arimo-v11-latin-700.ttf") format("truetype"), url("../fonts/arimo/arimo-v11-latin-700.svg#Arimo") format("svg");
}
/* arimo-italic - latin */
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/arimo/arimo-v11-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Arimo Italic"), local("Arimo-Italic"), url("../fonts/arimo/arimo-v11-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/arimo/arimo-v11-latin-italic.woff2") format("woff2"), url("../fonts/arimo/arimo-v11-latin-italic.woff") format("woff"), url("../fonts/arimo/arimo-v11-latin-italic.ttf") format("truetype"), url("../fonts/arimo/arimo-v11-latin-italic.svg#Arimo") format("svg");
}
/* arimo-700italic - latin */
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/arimo/arimo-v11-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Arimo Bold Italic"), local("Arimo-BoldItalic"), url("../fonts/arimo/arimo-v11-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/arimo/arimo-v11-latin-700italic.woff2") format("woff2"), url("../fonts/arimo/arimo-v11-latin-700italic.woff") format("woff"), url("../fonts/arimo/arimo-v11-latin-700italic.ttf") format("truetype"), url("../fonts/arimo/arimo-v11-latin-700italic.svg#Arimo") format("svg");
}
/* -------------------------
GLOBAL
---------------------------- */
/* line 73, ../sass/spiravita.scss */
body,
.ui-widget {
  font-family: 'Arimo';
  font-weight: 400;
  font-size: 13px;
  color: #6f6f6f;
  background-color: #f9f9f9;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* line 84, ../sass/spiravita.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arimo';
  font-weight: bold;
  letter-spacing: 1px;
}

/* line 95, ../sass/spiravita.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 101, ../sass/spiravita.scss */
a,
a:hover {
  color: #2c3e50;
}

/* line 106, ../sass/spiravita.scss */
a,
a:hover,
a:active,
a:focus,
button:focus,
.btn:focus,
.form-control:focus {
  outline: none !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

/* line 118, ../sass/spiravita.scss */
.btn.btn-primary {
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 0;
  padding: 15px 15px;
  background-color: rgba(96, 146, 166, 0.85);
  text-transform: uppercase;
  position: relative;
  font-family: 'Arimo';
  font-weight: bold;
}

/* -------------------------
NAVBAR & MAIN-CONTAINER
---------------------------- */
/* line 134, ../sass/spiravita.scss */
.navbar-is-fixed-top .main-container {
  margin-top: 105px !important;
}

/* line 138, ../sass/spiravita.scss */
.navbar-is-fixed-top.toolbar-horizontal .main-container {
  margin-top: 66px !important;
}

/* line 142, ../sass/spiravita.scss */
.navbar-is-fixed-top.toolbar-horizontal.toolbar-tray-open .main-container {
  margin-top: 105px !important;
}

/* line 146, ../sass/spiravita.scss */
.navbar-is-fixed-top.toolbar-horizontal .navbar-fixed-top {
  top: 39px !important;
}

/* line 150, ../sass/spiravita.scss */
.navbar-is-fixed-top.toolbar-horizontal.toolbar-tray-open .navbar-fixed-top {
  top: 78px !important;
}

/* line 154, ../sass/spiravita.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* line 158, ../sass/spiravita.scss */
.navbar-default .navbar-toggle {
  border-color: #283949;
}

/* line 162, ../sass/spiravita.scss */
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #283949;
}

/* -------------------------
NAVBAR INSIDE
---------------------------- */
/* line 172, ../sass/spiravita.scss */
.navbar-default {
  background-color: #fff;
  border: none;
  border-top: 1px solid #e64090;
  margin-bottom: 0;
  border-radius: 0;
}

/* line 180, ../sass/spiravita.scss */
.navbar-default li {
  z-index: 22;
  margin-left: 0;
}

/* line 185, ../sass/spiravita.scss */
.navbar-default .navbar-nav {
  float: right !important;
  margin-right: -15px;
}

/* line 190, ../sass/spiravita.scss */
.navbar-default .navbar-nav > li > a {
  color: #1d1d1b;
  display: block;
  font-size: 14px;
  line-height: 75px;
  letter-spacing: 0;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-family: 'Arimo';
}

/* line 202, ../sass/spiravita.scss */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #e64090;
  background-color: transparent;
}

/* line 214, ../sass/spiravita.scss */
.navbar-header {
  margin-top: 12px;
}
/* line 217, ../sass/spiravita.scss */
.navbar-header a.logo img {
  width: 178px;
  height: 55px;
}

/* -------------------------
MAIN-CONTAINER - INSIDE
---------------------------- */
/* line 227, ../sass/spiravita.scss */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* line 232, ../sass/spiravita.scss */
header .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

/* -------------------------
MODAL
---------------------------- */
/* line 241, ../sass/spiravita.scss */
#drupal-modal {
  padding: 30px;
  /*
    h2::after {
      position: absolute;
      top: 40px;
      left: 0;
      content: "";
      width: 60px;
      height: 3px;
      background-color: rgba(44, 62, 80, 0.20);
    }
    */
}
/* line 244, ../sass/spiravita.scss */
#drupal-modal .modal-body {
  max-height: 500px;
  overflow-y: auto;
  /*margin-bottom: 10px;*/
}
/* line 250, ../sass/spiravita.scss */
#drupal-modal article {
  margin-bottom: 10px;
}
/* line 254, ../sass/spiravita.scss */
#drupal-modal #drupal-modal--header {
  display: none;
}
/* line 258, ../sass/spiravita.scss */
#drupal-modal h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: #2c3e50;
  height: 20px;
}
/* line 267, ../sass/spiravita.scss */
#drupal-modal .mba-border {
  width: 60px;
  height: 3px;
  background-color: rgba(44, 62, 80, 0.2);
  margin-bottom: 5px;
}
/* line 288, ../sass/spiravita.scss */
#drupal-modal article.intervenant .field--name-field-fonction {
  text-transform: uppercase;
  font-size: 12px;
  color: #2c3e50;
  margin-bottom: 5px;
}
/* line 295, ../sass/spiravita.scss */
#drupal-modal article.intervenant .flex-container {
  flex-direction: column;
  height: 100%;
}
/* line 299, ../sass/spiravita.scss */
#drupal-modal article.intervenant .flex-container > div.field--name-field-coordonnees {
  align-self: flex-end;
}

/* line 306, ../sass/spiravita.scss */
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

/* line 313, ../sass/spiravita.scss */
.modal-content {
  border-radius: 0;
}

/* -------------------------
BOTTOM
---------------------------- */
/* line 321, ../sass/spiravita.scss */
.bottom {
  background-color: #2c3e50;
}
/* line 324, ../sass/spiravita.scss */
.bottom .region.region-bottom-1,
.bottom .region.region-bottom-2,
.bottom .region.region-bottom-3 {
  padding: 20px;
}

/* line 332, ../sass/spiravita.scss */
section#block-mba-coordonnees .field--name-body {
  padding: 20px;
  color: #ccc;
}

/* -------------------------
FORM
---------------------------- */
/* line 342, ../sass/spiravita.scss */
.input-group {
  margin-top: 5px;
}

/* line 346, ../sass/spiravita.scss */
.input-group-addon {
  background-color: #fff;
  border: none;
  border-radius: 0;
}

/* line 352, ../sass/spiravita.scss */
.region.region-bottom-3 .svg-inline--fa {
  position: absolute;
  top: 10px;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  left: 7px;
  color: #2c3e50;
}

/* line 362, ../sass/spiravita.scss */
.form-control,
.input-group .form-control:last-child {
  border: none;
  box-shadow: none;
  border-radius: 0;
}

/* line 370, ../sass/spiravita.scss */
textarea.form-control {
  resize: none;
}

/* line 374, ../sass/spiravita.scss */
button#edit-submit,
button#edit-subscribe,
button#edit-unsubscribe {
  float: right;
}

/* line 380, ../sass/spiravita.scss */
#edit-message--2 {
  text-transform: uppercase;
}
